@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("./src/styles/font/stylesheet.css"); */

@layer base {
  /* .custom-class {
        @apply text-white shadow hover:bg-blue-300
    } */
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-card {
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
